<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Log In</title>
    </head>
    <body>
        <% if (locals.user) {%>
            <h1> Welcome back <%= user.firstname %></h1>
            <%- include("errors.ejs") %>
            <% if (locals.user.member) { %>
                <h2> You are a member! </h2>
            <% } else { %>
                <form action="/member-register" method="GET">
                    <button>Register as a member</button>
            </form>
            <% } %>
            <% if (locals.user.admin) { %>
                <% messages.forEach(msg => { %>
                   <% msg.Delete = 'X' %>
                <% }); %>
                <h2> You are a admin! </h2>
            <% } else { %>
                <form action="/admin-register" method="GET">
                    <button>Register as a admin</button>
            </form>
            <% } %>
            <form action="/log-out" method="GET">
                <button>Log Out</button>
            </form>
            <h2>Submit a New Message:</h2>
            <form action="/new-message" method="POST">
                <label for="title">Title:</label>
                <input id="title" name="title" placeholder="Message Title" type="text" />
                <br>
                <label for="messageText">Message:</label>
                <textarea id="messageText" name="messageText" placeholder="Your message here..." rows="4" cols="50"></textarea>
                <br>
                <button>Submit Message</button>
            </form>
        <% } else { %>
            <h1> Welcome members and non-members! </h1>
            <form action="/log-in" method="POST">
                <label for="username">Email:</label>
                <input id="username" name="username" placeholder="Your@email.com" type="email" />
                <label for="password">Password</label>
                <input id="password" name="password" type="password" />
                <button>Log In</button>
            </form>
            <%- include("errors.ejs") %>
            <form action="/sign-up" method="GET"> 
                <button>Sign Up</button>
            </form>
        <% } %>
        <h2>Message Board:</h2>
        <% if (messages.length > 0) { %>          
            <table>
                <tr>
                    
                    <th>Title</th>
                    <th>Text</th>
                    <% if (locals.user) { %>
                    <% if (locals.user.member) { %>
                        <th>Date</th>
                        <th>Posted By</th>
                    <% } %>
                    <% if (locals.user.admin) { %>
                        <th>Delete</th>
                    <% } %>
                    <% } %>
                </tr>
                <tr>
                <% messages.forEach(row => { %>
                    <tr>
                        <td><%= row.title %></td>
                        <td><%= row.text %></td>
                        <% if (locals.user) { %>
                        <% if (locals.user.member) { %>
                            <td><%= row.posted %></td>
                            <td><%= row.firstname + ' ' + row.lastname %></td>
                        <% } %>
                        <% if (locals.user.admin) { %>
                            <td>
                                <form action="/delete/<%= row.id %>" method="POST">
                                    <input type="submit" value="Delete">
                                </form>
                            </td>
                        <% } %>
                        <% } %>
                    </tr>
                <% }); %>
                </tr>
        </table>
        <% } %>
    </body>

</html>